*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Krub', sans-serif;
    margin-right: 0;
   
}
.bgp{
  background-color: rgb(19, 199, 115);
  
}
.centrekr{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
   font-size: 4rem;
}
@keyframes fadeinleft{
from{
    opacity: 0;
    transform: translateX(-500px);
}
to{
    opacity: 1;
    transform: translateX(0);
}
}
.fade-in-left{
    opacity: 0;
    animation: fadeinleft 1.5s ease forwards;
}
@keyframes fadeinright{
    from{
        opacity: 0;
        transform: translateX(500px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
    }
.fade-in-right{
    opacity: 0;
    animation: fadeinright 1.5s ease forwards;
}
@keyframes zoomin{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.zoom-in{
    animation: zoomin 1s ease forwards;
}
.chestsection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

.after{
    display: flex;
    width: 4rem;
    height: 4px;
    background-color: #aabbd7;
    align-items: center;
    justify-content: center;
}
.empty{
    width: 50%;
}
footer .footer-1 {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: #111;
  }
  
  footer .content {
    /* max-width: 1350px; */
    margin: auto;
    padding: 20px;
    display: flex;
    
    justify-content: space-between;
    
  }
  
  footer .content p,
  a {
    color: #fff;
  }
  
  footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
  }
  
  footer .content .topic {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
  }
  
  footer .content p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
  }
  
  .lower{
    max-width: 1350px; 
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .lower .social-container{
    max-width: 1350px; 
    height: 60px;
    display: flex;
    justify-content: center;
  }
  
  
  
  .lower .topic a{
    font-size: 22px ;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
  }
  
  footer .content .middle {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  footer .content .middle a {
    line-height: 32px;
    font-size: 16px;
    /* font-family: cursive; */
    font-family: 'Roboto', sans-serif;
    color: rgb(147, 238, 245);
  }
  
  footer .content .right input[type="text"] {
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
  }
  footer .content .right input[type="text"]:focus{
    box-shadow: 0px 0px 2px wheat;
    border: none;
  }
  footer .content .right .btn{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: wheat;
   
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
   
    transition: all 0.3s ease-in-out;
  }
  .content .right .btn:hover {
    background: none;
    color: #eb2f06;
    font-weight: bold;
    border: 1px solid #eb2f06;
    transition-delay: .2s;
  }
  .gap{
    padding-right: 4rem;
  }